<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:form>
        <h:commandButton action="#{bean.insertNoTx}" value="Insert (No Tx)"/>
        <h:commandButton action="#{bean.insertTx}" value="Insert (Tx)"/>
    </h:form>
    <div>
        <ui:repeat value="#{bean.animals}" var="a">
            <p>#{a.id}: #{a.name} makes the sound #{a.sound}</p>
        </ui:repeat>
    </div>
</f:view>
</html>
