<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets">
<f:view>
    <div>
        <h:form>
            <h:commandButton value="Try rollback" action="#{bean.testRollback}"/>
        </h:form>
    </div>
    <h1>List of humans</h1>
    <ol>
        <ui:repeat value="#{bean.humans}" var="h">
            <li>#{h.name}</li>
        </ui:repeat>
    </ol>
</f:view>
</html>
