<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html">
<f:view>
    <div>
        <h:form>
            <h:commandButton action="#{hello.work('yes', 'no')}" value="Work"/><br/>
            <h:commandButton action="#{hello.work}" value="Work (interceptor not called)"/>
        </h:form>
        <h:link outcome="index2" value="Go to index2.xhtml"/>
    </div>
</f:view>
</html>
