<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
    <h:outputScript name="webjars/mithril/1.1.3/mithril.min.js"/>
</h:head>
<h:body>
    <form action="/jaxrs-form/api/auth" method="post">
        <h1>Auth</h1>
        <input type="text" name="email" placeholder="Name"/><br/>
        <input type="password" name="password" placeholder="Password"/><br/>
        <input type="submit" value="Submit"/>
    </form>

    <form action="/jaxrs-form/api/buy" method="post">
        <h1>Buy</h1>
        <input type="text" name="name" placeholder="Name"/><br/>
        <input type="text" name="price" placeholder="Price"/><br/>
        <input type="text" name="color" placeholder="Color"/><br/>
        <input type="submit" value="Submit"/>
    </form>

    <form action="/jaxrs-form/api/sell" method="post">
        <h1>Sell</h1>
        <input type="text" name="name" placeholder="Name"/><br/>
        <input type="text" name="name" placeholder="Name"/><br/>
        <input type="text" name="name" placeholder="Name"/><br/>
        <input type="submit" value="Submit"/>
    </form>

    <form action="/jaxrs-form/api/cat" method="post">
        <h1>Cat</h1>
        <input type="text" name="name" placeholder="Name"/><br/>
        <input type="number" name="age" placeholder="Age"/><br/>
        <input type="submit" value="Submit"/>
    </form>
</h:body>
</html>
