<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:o="http://omnifaces.org/ui">
<h:head/>
<h:body>
    <p>Open two browsers, one with two tab, and another just one</p>
    <p>Play around the buttons to see the effect</p>
    <o:socket channel="all" onmessage="function(msg){console.log('all: ' + msg);}"/>
    <o:socket channel="same" scope="session" onmessage="function(msg){console.log('same: ' + msg);}"/>
    <o:socket channel="one" scope="view" onmessage="function(msg){console.log('one: ' + msg);}"/>

    <h:form>
        <f:ajax>
            <h:commandButton action="#{chatBean.sendAll}" value="Send to All"/><br/>
            <h:commandButton action="#{chatBean.sendSame}" value="Send to Same"/><br/>
            <h:commandButton action="#{chatBean.sendOne}" value="Send to One"/><br/>
        </f:ajax>
    </h:form>
    <h:form>
        <h:commandButton action="chat?faces-redirect=true" value="Reset Session, see websocket URL connection change"
                         actionListener="#{chatBean.reset}"/>
    </h:form>
</h:body>
</html>
