<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:o="http://omnifaces.org/ui">
<h:head/>
<h:body>
    <o:socket channel="mapdata" onmessage="function(msg){console.log(msg.title + ': ' + msg.desc)}"/>
    <h:form>
        <f:ajax>
            <h:commandButton action="#{mapDataBean.send}" value="Send data"/>
        </f:ajax>
    </h:form>
</h:body>
</html>
