<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<f:view>
    <div>
        <p>This page shows the effect of locks and version column on unmanaged entities</p>
        <h:form>
            <h:commandButton value="Pessimistic Lock" action="#{bean.doVoidPessimisticLock}"/>
            <h:commandButton value="Dirty Update (will rollback)" action="#{bean.doUpdateDirty}"/>
            <h:commandButton value="Normal Update (Name One)" action="#{bean.doUpdateNameOne}"/>
            <h:commandButton value="Normal Update (Name Two)" action="#{bean.doUpdateNameTwo}"/>
        </h:form>
        <hr/>
        <h:link outcome="stateful" value="Test Stateful with Lock"/>
    </div>
    <div>
        <p>#{bean.oneHuman.id}: #{bean.oneHuman.name} (#{bean.oneHuman.version})</p>
    </div>
    <div>
        <h2>Notes</h2>
        <ol>
            <li>Pessimistic Lock button shows SQL generation of database low rock</li>
            <li>Clicking on the dirty update button does a rollback. It first makes a dirty-update, then merges a different value. No change is done as the dirty-update is part of the rollback-ed transaction</li>
            <li>Normal Update just shows how each update increments the version column. Making no changes does not increment version column</li>
        </ol>
    </div>
</f:view>
</html>
