<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <div>
        <h:form>
            <p>All Ninja Edits bypass Persistence Context</p>
            <h:commandButton value="Invalidate Current Session" action="#{sessionBean.destroy}"/><br/>
            <h:commandButton value="Ninja Edit" action="#{sessionBean.ninjaEdit(1)}"/><br/>
            <h:commandButton value="Ninja Edit Hidden Data" action="#{sessionBean.ninjaEdit(2)}"/><br/>
            <h:commandButton value="Ninja Edit Unrelated Data" action="#{sessionBean.ninjaEdit(3)}"/><br/>
            <h:commandButton value="Normal Edit" action="#{sessionBean.normalEdit}"/>
        </h:form>
        <h1>Session ID: #{sessionBean.random}</h1>
        <p>#{sessionBean.subject.id}: #{sessionBean.subject.name} (#{sessionBean.subject.version})</p>
        <p>Managed: #{sessionBean.humanManaged}</p>
    </div>
    <div>
        <h2>Notes</h2>
        <ol>
            <li>All entities here are managed by an Extended Persistence Context, thus the lifetime of managed entities last as long as this CDI session</li>
            <li>The first two ninja edit throws an OptimisticLockException, as the entities are still managed by the Stateful EJB, in which the EJB's lifetime is tied to the CDI SessionScope</li>
            <li>Also note that, Ninja Edit do not show its result immediately, as it bypasses the Persistence Context</li>
            <li>To save the trouble of creating another example without Lock, no errors happen, but Ninja Edit does not update currently managed entities, and that is a
                <b>big</b> problem
            </li>
        </ol>
    </div>
</f:view>
</html>
