<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <div>
        <ui:repeat value="#{bean.entity3}" var="e">
            <p>#{e.id}: #{e.employee.id}: #{e.employee.job} with a salary of #{e.employee.salary}</p>
        </ui:repeat>
    </div>
</f:view>
</html>
