<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <p>Three ways to inject: constructor, setter, and field</p>
    <p>Note that within one request, multiple calls to the same injected bean returns the same thing</p>
    <h:panelGrid>
        <h:outputLabel value="#{adderService.number}"/>
        <h:outputLabel value="#{adderService.standaloneNumber}"/>
        <h:outputLabel value="#{adderService.generatedStandaloneNumber}"/>
    </h:panelGrid>
</f:view>
</html>
