<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
<f:view>
    <div>
        <h:form>
            <h:commandButton action="#{delayedMessage.delayedMessage}" value="Send a delayed message"/>
        </h:form>
        <h1>Storing results of @Asynchronous</h1>
        <h:form>
            <h:commandButton action="#{sessionState.generateRandomNumber}" value="Generate random number"/>
            <p jsf:rendered="#{sessionState.generate eq 'INITIAL'}">Please click the generate button</p>
            <p jsf:rendered="#{sessionState.generate eq 'GENERATING'}">Generating... Please refresh the page</p>
            <p jsf:rendered="#{sessionState.generate eq 'OK'}">#{sessionState.number}</p>
        </h:form>
    </div>
</f:view>
</html>
