<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <div>
        <h:form>
            <h:commandButton action="#{bean.runTransactional}" value="Run @Transactional"/><br/>
            <h:commandButton action="#{bean.runNoTransactional}" value="Run without @Transactional"/><br/>
            <h:commandButton action="#{bean.noChange}" value="No change eventhough data were merged, throws exception"/><br/>
            <h:commandButton action="#{bean.runTwoTransactions}" value="Runs two transactions"/><br/>
            <h:commandButton action="#{bean.exceptionAndCommit}" value="Throws but adds new entities"/><br/>
            <h:commandButton action="#{bean.exceptionNoCommit}" value="Throws and rollback"/><br/>
        </h:form>
    </div>
    <hr/>
    <div>
        <p>Stateful entitiy is #{beanStateful.managed}</p>
    </div>
</f:view>
</html>
