<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h1>Annotated</h1>
    <h:form>
        <h:commandButton action="#{normalService.start}" value="Start"/>
        <h:commandButton action="#{normalService.stop}" value="Stop"/>
    </h:form>
    <h1>Programmatic</h1>
    <h:form>
        <h:commandButton action="#{programmaticNormalService.start}" value="Start"/>
        <h:commandButton action="#{programmaticNormalService.stop}" value="Stop"/>
    </h:form>
</f:view>
</html>
