<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head/>
<f:view>
    <h:form>
        <f:ajax render="@form">
            <h:commandButton action="#{jobs.submitTask}" value="Submit normal task"/>
            <hr/>
            <h:commandButton action="#{scheduledJobs.submitDelayedTask}"
                             value="Submit delayed task"/>
            <h:commandButton action="#{scheduledJobs.submitPeriodicTask}"
                             value="Submit periodic task"/>
            <h:commandButton action="#{scheduledJobs.stopPeriodicTask}"
                             value="Stop periodic task"/>
            <hr/>
            <h:commandButton action="#{ejbSimple.submit}"
                             value="Start simple scheduled job"/>
            <h:commandButton action="#{managedThread.submit}"
                             value="Start threaded job"/>
            <h:messages globalOnly="true"/>
        </f:ajax>
    </h:form>
</f:view>
</html>
