<!DOCTYPE html>
<html xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://java.sun.com/jsf/core">
<body>
<script type="text/javascript">
    var wsocket;
    wsocket = new WebSocket("ws://localhost:8080/websocket-auth/echo");
    wsocket.onmessage = onMessage;
    wsocket.onclose = onClose;

    function onClose(event) {
        console.log(event.data);
    }

    function onMessage(event) {
        console.log(event.data);
    }

    function send(msg) {
        wsocket.send(msg);
    }
</script>
<h:link value="Login" outcome="index">
    <f:param name="user" value="bob"/>
    <f:param name="password" value="bob"/>
</h:link>

<p>Send message by sending in the console - send('my message here')</p>

<h:form rendered="#{not empty request.userPrincipal}">
    <h:commandButton action="#{main.logout}" value="Logout"/>
</h:form>
</body>
</html>
