<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html">
<f:view>
    <div>
        <h1>Sender</h1>
        <p>Enter the text message and send it</p>
        <h:form>
            <h:inputText value="#{senderBean.message}"
                         required="true"
                         requiredMessage="Error: A Message is required"/>
            <h:commandButton value="Send sync message" action="#{senderBean.sendMessage}"/>
            <h:commandButton value="Send async message" action="#{senderBean.sendAsyncMessage}"/>
        </h:form>
        <h1>Receiver</h1>
        <h:form>
            <h:commandButton value="Receive Message" action="#{receiverBean.receiveMessage}"/>
            <br/>
        </h:form>
        <h1>Status</h1>
        <h:messages showSummary="true"
                    showDetail="false"
                    errorStyle="color: #d20005"
                    infoStyle="color: blue"/>
    </div>
</f:view>
</html>
