<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:form>
        <h:commandButton value="Update" action="#{bean.update}"/>
        <h:commandButton value="Delete" action="#{bean.delete}"/>
    </h:form>
    <div>
        <ui:repeat value="#{bean.companies}" var="c">
            <p>#{c.name}</p>
            <ol>
                <!-- in JSF 2.3, ui:repeat works with Set (Iterable) -->
                <ui:repeat value="#{c.workers.toArray()}" var="w">
                    <li>#{w.name}; Age: #{w.age}</li>
                </ui:repeat>
            </ol>
        </ui:repeat>
    </div>
    <div>
        <h1>Average Age</h1>
        <p>#{bean.apple.name} has an average age of #{bean.apple.integer}</p>
        <p>#{bean.microsoft.name} has an average age of #{bean.microsoft.integer}</p>
    </div>
</f:view>
</html>
