<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<f:view>
    <h:form>
        <div>
            <h1>Sender</h1>
            <p>Enter the text message and send it</p>
            <h:inputText value="#{senderBean.message}"
                         required="true"
                         requiredMessage="Error: A Message is required"/>
            <h:commandButton value="Send Message" action="#{senderBean.sendMessage}"/>
            <br/>
            <h1>Status</h1>
            <h:messages showSummary="true"
                        showDetail="false"
                        errorStyle="color: #d20005"
                        infoStyle="color: blue"/>
        </div>
    </h:form>
</f:view>
</html>
